extends /_template/tpl/main
block head
	title Главная
	link(rel="stylesheet" href="/css/template.css")
	link(rel="stylesheet" href="style.css")

	script(src="/src/js/libs/jquery.min.js" type="text/javascript")
	script(src="/src/js/libs/jquery.fancybox.min.js" type="text/javascript")
	script(src="/src/js/libs/slick.min.js" type="text/javascript")
	script(src="/src/js/libs/jquery.mCustomScrollbar.min.js" type="text/javascript")
	//-script(src="/src/js/libs/jquery.maskedinput.min.js" type="text/javascript")
	//-script(src="/src/js/libs/jquery-ui.min.js" type="text/javascript")
	script(src="jquery.autocomplete.min.js" type="text/javascript")
	script(src="/_template/js/script.js" type="text/javascript")
	//-script(src="/_template/js/map-loader.js" type="text/javascript")
	script(src="map.js" type="text/javascript")
	script(src="script.js" type="text/javascript")

block content
