section.b-advantages
  #b-advantages.anchor
  .container
    .b-advantages__container.text
      .b-advantages__inner.b-title-border
        .b-advantages__title.b-title
          h2 Моудль - Преимущества
        .b-advantages__subtitle.b-subtitle Лечение сосудистых патологий на аппарате проводится при следующих состояниях:
      ul
        li уникальный лазер, который работает с поверхностными и глубокими сосудистыми поражениями одновременно
        li безупречная точность - воздействие только на пораженный сосуд, минимальный, стремящийся к нулю риск рубцевания и ожогов
        li благодаря премиальному сапфировому охлаждению процедура проходит максимально комфортно для пациента
        li может выполняться в любое время года
        li подходит для всех типов кожи и не требует реабилитации
        li эффект после первой процедуры.
      .b-advantages__text
        p Лазерное удаление сосудов на аппарате Cutera позволяет сузить просвет патологически измененных сосудов и тем самым способствует их полному исчезновению. Процедура эффективна в устранении сосудов красного и синего цвета диаметром до 2 мм.