section.b-anchors
  .container
    nav.b-anchors__nav.text
      button(class="b-anchors__button" type="button") Навигация по разделу
      ul
        li
          a(href="#b-articl") Описание
        li
          a(href="#b-advantages") Эффект
        li
          a(href="#b-subentry") Оборудование
        li
          a(href="#b-price") Цены
        li
          a(href="#b-clinics") Клиники
        li
          a(href="#b-expert") Специалисты