section.b-article
  #b-article.anchor
  .b-article__contnainer.container
    .b-article__wrapper 
      .b-article__inner.text
        .b-article__title.b-title
          h2 Узкий блок вставка с картинкой
        p Паразитические грибы поражают преимущественно кожные покровы человека (особенно на стопах), ногтевые пластины и слизистые оболочки, например, в ротовой полости или во влагалище. Более серьезные, системные грибковые патологии, когда рост возбудителей наблюдается во внутренних органах человека, встречаются намного реже. При этом они всегда представляют собой существенную проблему для здоровья, которая иногда даже угрожает жизни пациента.
        .b-article__button
          a(href="#").light-brown-button Подробнее
      .b-article__img
        picture
          img(src="/i/b-article-device.png" loading="lazy")