section.b-clinics
  #b-clinics.anchor
  .container
    .b-clinics__container.text
      .b-clinics__inner.b-title-border
        .b-clinics__title.b-title
          h2 Клиники
      .b-clinics__list
        .b-clinics__item
          .b-clinics__icon
          .b-clinics__text
            .b-clinics__title СМ-Косметология
            span м. «Войковская»
            span г. Москва, ул. Космонавта Волкова дом 9/2
        .b-clinics__item
          .b-clinics__icon
          .b-clinics__text
            .b-clinics__title СМ-Косметология
            span м. Улица 1905 года
            span 2-я Звенигородская улица, д. 13, стр 40


