section.b-expert.flowers
  #b-expert.anchor
  .b-expert__background.flowers__background
    .b-expert__left.flowers__left
      picture
        img(src="/i/b-intro-flower-left.svg" loading="lazy" width="273" height="291")
    .b-expert__right.flowers__right
      picture
        img(src="/i/b-intro-flower-right.svg" loading="lazy" width="377" height="727")
  .container
    .b-expert__container
      .b-expert__article.text
        .b-expert__title.b-title
          h2 Что говорят врачи о процедуре?<br>- модуль Экспертное мнениe
        .b-expert__text В нашей клинике мы уже много лет успешно выполняем процедуры ультразвукового лифтинга по лицу и телу. Отличительной особенностью аппарата ULTRAFORMER III является технология HIFU – это использование высокоинтенсивного фокусированного ультразвука для локального прогрева тканей до 58-70 С.; В результате теплового воздействия формируются процессы сокращения и уплотнения SMAS, а также стимуляция синтеза нового коллагена и эластина. Аппарат имеет несколько насадок и гибкие настройки, что позволяет выбрать оптимальную частоту импульса и глубину проникновения ультразвука в слои кожи (от 1,5 до 13 мм) в зависимости от прорабатываемой зоны и характера проблемы. С помощью высокоинтенсивного микро- и макро-фокусированного ультразвука (MMFU) создаются зоны термокоагуляции в коже лица, заставляя ткани сокращаться. При этом не происходит никакого воздействия на эпидермис. Это позволяет получать великолепные результаты уже за 1 процедуру. Эффект от процедуры накопительный, поэтому максимальное преображение произойдет через 2–3 месяца и сохранится на период до полутора- двух лет. Через год манипуляцию можно повторить. Я могу много рассказать о технологии и особенностях процедуры, но скажу лишь самое главное – Ultraformer позволяет эффективно, быстро и безопасно подтянуть кожу лица и улучшить контуры тела без проведения радикальных вмешательств.
      .b-expert__doctor
        .b-expert__photo
          picture
            img(src="/i/b-expert.png" loading="lazy" alt="Фото врача эксперта")
        .b-expert__post.text
          span васильева мария алексеевна
          span врач-дерматолог, врач-миколог, врач-трихолог