section.b-example.flowers
  #b-example.anchor
  .b-example__background.flowers__background
    .b-example__left.flowers__left
      picture
        img(src="/i/b-intro-flower-left.svg" loading="lazy" width="273" height="291")
    .b-example__right.flowers__right
      picture
        img(src="/i/b-intro-flower-right.svg" loading="lazy" width="294" height="567")
  .container
    .b-example__container.text
      .b-example__inner.b-title-border
        .b-example__title.b-title
          h2 Текстовый блок на подложке
        .b-example__subtitle.b-subtitle Лечение сосудистых патологий на аппарате проводится при следующих состояниях:
      .b-example__text
        p Перед тем, как врач порекомендует удалить сосудистое, пигментное образование лазером на аппарате Cutera, исключаются возможные противопоказания. Так, процедура не проводится детям и подросткам, не достигшим 18 лет; лицам, страдающим эпилепсией, заболеваниями кожи с замедленной регенерацией, острыми инфекциями или обострениями хронических, расстройствами свертывания крови, онкопатологиями и аутоиммунными нарушениями. Процедура противопоказана при наличии татуировок в месте воздействия лазера, свежего загара или автозагара (требуется повременить – 3 недели).
        span Специальной подготовки перед лазерным лечением не требуется.
      a(href="#").light-brown-button Подробнее