section.b-gallery.flowers
  #b-gallery.anchor
  .b-gallery__background.flowers__background
    .b-gallery__left.flowers__left
      picture
        img(src="/i/b-intro-flower-left.svg" loading="lazy" width="434" height="462")
    .b-gallery__right.flowers__right
      picture
        img(src="/i/b-intro-flower-right.svg" loading="lazy" width="377" height="727")
  .container
    .b-gallery__container.text
      .b-gallery__inner
        .b-gallery__title.b-title
          h2 Фотогалерея
        .b-gallery__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-gallery__swiper
        .b-gallery__photos.swiper-wrapper
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-1.jpg")
            picture
              img(src="/i/b-gallery-photo-1.jpg" width="250" height="250")
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-2.jpg")
            picture
              img(src="/i/b-gallery-photo-2.jpg" width="250" height="250")
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-3.jpg")
            picture
              img(src="/i/b-gallery-photo-3.jpg" width="250" height="250")
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-4.jpg")
            picture
              img(src="/i/b-gallery-photo-4.jpg" width="250" height="250")
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-1.jpg")
            picture
              img(src="/i/b-gallery-photo-1.jpg" width="250" height="250")
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-2.jpg")
            picture
              img(src="/i/b-gallery-photo-2.jpg" width="250" height="250")
          a(data-fslightbox="b-gallery").b-gallery__item.swiper-slide(href="/i/b-gallery-photo-3.jpg")
            picture
              img(src="/i/b-gallery-photo-3.jpg" width="250" height="250")
        .b-gallery__arrows
          .b-gallery__button--prev.b-arrows-button.b-arrows-button--prev
          .b-gallery__button--next.b-arrows-button.b-arrows-button--next
