section.b-icons
  #b-icons.anchor
  .container
    .b-icons__container.text
      .b-icons__inner
        .b-icons__title.b-title
          h2 Плитка с иконками
      .b-icons__list
        .b-icons__item
          .b-icons__icon
            picture
              img(src="/i/icon-lipstick.svg")
          span Консультации специалистов
        .b-icons__item
          .b-icons__icon
            picture
              img(src="/i/icon-lipstick.svg")
          span Диагностика заболеваний и травм
        .b-icons__item
          .b-icons__icon
            picture
              img(src="/i/icon-lipstick.svg")
          span Консервативное лечение
        .b-icons__item
          .b-icons__icon
            picture
              img(src="/i/icon-lipstick.svg")
          span Хирургическое лечение