section.b-intro.flowers
  #b-intro.anchor
  .b-intro__background.flowers__background
    .b-intro__left.flowers__left
      picture
        img(src="/i/b-flower-left.svg" loading="lazy" width="434" height="462")
    .b-intro__right.flowers__right
      picture
        img(src="/i/b-flower-right.svg" loading="lazy" width="377" height="727")
  .container
    .b-intro__container
      .b-intro__inner
        .b-intro__text.text
          .b-intro__subtitle процедура глубокого лифтинга с помощью ультразвуковых волн высокой частоты
          ul
            li Выраженный лифтинг-эффект, сравнимый с результатами пластической операцией
            li Абсолютно неинвазивная методика без реабилитационного периода
            li эффективно, быстро, безболезненно!
        .b-intro__img
          picture
            img(src="/i/b-intro-woman.png" loading="lazy")
      form.b-intro__form(action="" method="post")
        .b-intro__box
          .b-intro__name
            input(type="text" id="intro-name" name="name" placeholder="Ваше имя")
          .b-intro__tel
            input(type="tel" id="intro-phone" name="phone" placeholder="Ваш телефон*" required)
        .b-intro__box
          .b-intro__agreement Нажимая на кнопку, вы даете согласие на<br><a href="#">обработку своих персональных данных</a>
          .b-intro__submit
            button(type="submit") <span>получить консультацию</span><span>врача-косметолога</span>