section.b-list
  #b-list.anchor
  .container
    .b-list__container.text
      .b-list__inner.b-title-border
        .b-list__title.b-title
          h2 Модуль списка
        .b-list__subtitle.b-subtitle Лечение сосудистых патологий на аппарате проводится при следующих состояниях:
      .b-list__items
        ul
          li телеангиоэктазии
          li ангиомы
          li гемангиомы
          li телеангиоэктазии
          li ангиомы
          li гемангиомы
          li капиллярные дисплазии
          li ретикулярный варикоз нижних конечностей
          li винные пятна
          li телеангиоэктазии
          li ангиомы
          li гемангиомы
          li гранулемы
          li телеангиоэктазии
          li ангиомы
          li гемангиомы