section.b-price
  #b-price.anchor
  .container
    .b-price__container.text
      .b-price__inner.b-title-border
        .b-price__title.b-title
          h2 Цены
      .b-price__table
        table
          tbody
            tr
              th Наименование процедуры
              th Цена (руб.)
            tr
              td Консультация врача-косметолога первичная
              td 3 200
            tr
              td Консультация врача-косметолога повторная
              td 5 000
            tr
              td Лазерное лечение акнеЛечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-1 см2
              td 9 000
            tr
              td Лечение сосудистой мальформации (винное пятно, ангиокератома, гранулема) на аппарате Cutera-1 см2
              td 1 600
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera- до 3 см2
              td 650
            tr
              td Лечение сосудистой мальформации (винное пятно, ангиокератома, гранулема) на аппарате Cutera- до 3 см2
              td 1 800
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera- нос
              td 2 600
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-одна щека
              td 3 200
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-две щеки
              td 5 000
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-подбородок
              td 9 000
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-шея или декольте
              td 1 600
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-периорбитальная зона
              td 650
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera одной нижней конечности (в зависимости от категории сложности)
              td 1 800
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-1 импульс
              td 2 600
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-5 импульсjd
              td 1 800
            tr
              td Лечение сосудистой патологии (телеангиоэктазий, ангиом, гемангиом, капиллярных дисплазий и др.) на аппарате Cutera-15 импульс
              td 2 600
            