section.b-question
  #b-question.anchor
  .container
    .b-question__container.text
      .b-question__inner.b-title-border
        .b-question__title.b-title
          h2 Вопрос-ответ
        .b-question__subtitle.b-subtitle Лечение сосудистых патологий на аппарате проводится при следующих состояниях
      .b-question__list
        .b-question__item
          span Заголовок вопроса
          .b-question__text
            p В зависимости от площади обрабатываемой кожи длительность одного сеанса процедуры составляет от нескольких минут до одного часа. Для достижения стойкого терапевтического результата требуется курсовое лечение, которое может состоять из 2-6 процедур. Оптимальное количество сеансов поможет определить косметолог после оценки состояния кожи. Между процедурами следует выдержать временной интервал, равный 3-6 неделям.
        .b-question__item 
          span Заголовок вопроса
          .b-question__text
            p В зависимости от площади обрабатываемой кожи длительность одного сеанса процедуры составляет от нескольких минут до одного часа. Для достижения стойкого терапевтического результата требуется курсовое лечение, которое может состоять из 2-6 процедур. Оптимальное количество сеансов поможет определить косметолог после оценки состояния кожи. Между процедурами следует выдержать временной интервал, равный 3-6 неделям.
        .b-question__item 
          span Заголовок вопроса
          .b-question__text
            p В зависимости от площади обрабатываемой кожи длительность одного сеанса процедуры составляет от нескольких минут до одного часа. Для достижения стойкого терапевтического результата требуется курсовое лечение, которое может состоять из 2-6 процедур. Оптимальное количество сеансов поможет определить косметолог после оценки состояния кожи. Между процедурами следует выдержать временной интервал, равный 3-6 неделям.
        .b-question__item 
          span Заголовок вопроса
          .b-question__text
            p В зависимости от площади обрабатываемой кожи длительность одного сеанса процедуры составляет от нескольких минут до одного часа. Для достижения стойкого терапевтического результата требуется курсовое лечение, которое может состоять из 2-6 процедур. Оптимальное количество сеансов поможет определить косметолог после оценки состояния кожи. Между процедурами следует выдержать временной интервал, равный 3-6 неделям.