section.b-sample-right
  #b-sample-right.anchor
  .container
    .b-sample-right__container
      .b-sample-right__wrapper.text
        .b-sample-right__inner
          .b-sample-right__title.b-title
            h2 Текст + картинка базовый
        .b-sample-right__text
          p В «СМ-Косметология» процедура проводится на современном лазере Cutera, модель последнего поколения Excel V – год выпуска 2022, производство США. Сеансы лазерного лечения выполняют квалифицированные врачи, имеющие соответствующую специализацию.
        .b-sample-right__button
          a(href="#").light-brown-button Подробнее
      .b-sample-right__img
        picture
          img(src="/i/b-sample-right.jpg" loading="lazy")