section.b-sample-left
  #b-sample-left.anchor
  .container
    .b-sample-left__container.text
      .b-sample-left__img
          picture
            img(src="/i/b-sample-right.jpg" loading="lazy")
      .b-sample-left__title.b-title
        h2 Текст + картинка подложка
      .b-sample-left__text
        p В «СМ-Косметология» процедура проводится на современном лазере Cutera, модель последнего поколения Excel V – год выпуска 2022, производство США. Сеансы лазерного лечения выполняют квалифицированные врачи, имеющие соответствующую специализацию. В «СМ-Косметология» процедура проводится на современном лазере Cutera, модель последнего поколения Excel V – год выпуска 2022, производство США. Сеансы лазерного лечения выполняют квалифицированные врачи, имеющие соответствующую специализацию.
        p В «СМ-Косметология» процедура проводится на современном лазере Cutera, модель последнего поколения Excel V – год выпуска 2022, производство США. Сеансы лазерного лечения выполняют квалифицированные врачи, имеющие соответствующую специализацию. В «СМ-Косметология» процедура проводится на современном лазере Cutera, модель последнего поколения Excel V – год выпуска 2022, производство США. Сеансы лазерного лечения выполняют квалифицированные врачи, имеющие соответствующую специализацию.
      .b-sample-left__button
        a(href="#").light-brown-button Подробнее