section.b-sample
  #b-sample.anchor
  .b-sample__container.container
    .b-sample__wrapper.text
      .b-sample__inner.b-title-border
        .b-sample__title.b-title
          h2 Текст + картинка базовый
        .b-sample__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-sample__text 
        p Сегодня ультразвуковой SMAS-лифтинг позволяет решить эстетические задачи, которые раньше были под силу только пластической хирургии.
        p Ультраформер — единственный неинвазивный метод, который позволяет воздействовать не только на поверхностные и глубокие слои кожи, но также на мышечно-апоневротический слой &#40; SMAS &#41; без повреждения верхних слоев дермы.
        p Сегодня ультразвуковой SMAS-лифтинг позволяет решить эстетические задачи, которые раньше были под силу только пластической хирургии.
        p Ультраформер — единственный неинвазивный метод, который позволяет воздействовать не только на поверхностные и глубокие слои кожи, но также на мышечно-апоневротический слой &#40; SMAS &#41; повреждения верхних слоев дермы.
      .b-sample__button
        a(href="#").light-brown-button Подробнее
    .b-sample__img
      picture
        img(src="/i/b-sample.jpg" loading="lazy")
      
