section.b-stages-2
  #b-stages-2.anchor
  .container
    .b-stages-2__container.text
      .b-stages-2__inner.b-title-border
        .b-stages-2__title.b-title
          h2 Модуль этапы вид 2
        .b-stages-2__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      p Перед тем, как врач порекомендует удалить сосудистое, пигментное образование лазером на аппарате Cutera, исключаются возможные противопоказания. Так, процедура не проводится детям и подросткам, не достигшим 18 лет; лицам, страдающим эпилепсией, заболеваниями кожи с замедленной регенерацией, острыми инфекциями или обострениями хронических, расстройствами свертывания крови, онкопатологиями и аутоиммунными нарушениями. Процедура противопоказана при наличии татуировок в месте воздействия лазера, свежего загара или автозагара (требуется повременить – 3 недели). Специальной подготовки перед лазерным лечением не требуется.
      .b-stages-2__list
        .b-stages-2__item
          .b-stages-2__count
          p Обработка кожи раствором антисептика в области зоны интереса. В «СМ-Косметология» используются гипоаллергенные антисептики последнего поколения
        .b-stages-2__item
          .b-stages-2__count
          p Индивидуальный подбор параметров и коагуляция лазером патологически расширенных сосудов
        .b-stages-2__item
          .b-stages-2__count
          p Нанесение после процедуры на кожу успокаивающего средства, который улучшает регенераторный потенциал тканей
        .b-stages-2__item
          .b-stages-2__count
          p Нанесение солнцезащитного крема на кожу, если обрабатывались открытые участки тела
      p В зависимости от площади обрабатываемой кожи длительность одного сеанса процедуры составляет от нескольких минут до одного часа. Для достижения стойкого терапевтического результата требуется курсовое лечение, которое может состоять из 2-6 процедур. Оптимальное количество сеансов поможет определить косметолог после оценки состояния кожи. Между процедурами следует выдержать временной интервал, равный 3-6 неделям.
