section.b-statistic
  #b-statistic.anchor
  .b-statistic__background
    .b-statistic__left
      picture
        img(src="/i/b-butterfly.svg" loading="lazy" width="114" height="123")
      picture
        img(src="/i/b-intro-flower-left.svg" loading="lazy" width="273" height="291")
    .b-statistic__right
      picture
        img(src="/i/b-intro-flower-right.svg" loading="lazy" width="377" height="727")
  .container
    .b-statistic__container.text
      .b-statistic__inner
        .b-statistic__title.b-title 
          h2 Заголовок - моудль цифры
        .b-ststistic__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-statistic__wrapper
        .b-statistic__item
          .b-statistic__number <span>14</span><span>лет</span>
          .b-statistic__text технология Ultraformer успешно применяется в сфере эстетической косметологии для выполнения лифтинга.
        .b-statistic__item
          .b-statistic__number <span>6</span><span>режимов</span>
          .b-statistic__text работы Ultraformer – это возможность регулируемого воздействия на кожу на разной глубине - от поверхностных слоев до SMAS.
        .b-statistic__item
          .b-statistic__number <span>100%</span><span>лифтинг эффект</span>
          .b-statistic__text после первой процедуры. При этом подтяжка лица занимает в среднем около 30 минут. 
        .b-statistic__item
          .b-statistic__number <span>2500</span><span>более</span>
          .b-statistic__text процедур Ultraformer проведено в клинике СМ-Косметология, более 1 000 пациентов остановили свой выбор на этой методике лифтинга.
