section.b-stages
  #b-stages.anchor
  .container
    .b-stages__container.text
      .b-stages__inner.b-title-border
        .b-stages__title.b-title
          h2 Модуль этапы вид 1
        .b-stages__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-stages__list
        .b-stages__item
          .b-stages__count
          p Пациент изолируется от других пациентов клиники и медицинского персонала.
        .b-stages__item
          .b-stages__count
          p Административный персонал вызывает бригаду скорой медицинской помощи.
        .b-stages__item
          .b-stages__count
          p Пациента госпитализируютс соблюдением всех мер безопасности через отдельный вход.
        .b-stages__item
          .b-stages__count
          p В клинике проводится дополнительная дезинфекция.
