section.b-subentry
  #b-subentry.anchor
  .container
    .b-subentry__container.text
      .b-subentry__inner.b-title-border
        .b-subentry__title.b-title
          h2 Заголовок текста
        .b-subentry__subtitle.b-subtitle Включаемый или отключаемый подзаголовок к каждому блоку
      .b-subentry__wrapper
        p По статистике Всемирной организации здравоохранения каждый пятый житель нашей планеты поражен той или иной грибковой инфекцией. Различий по возрасту нет, однако мужчины болеют несколько чаще женщин и реже обращаются за медицинской помощью.
        p Паразитические грибы поражают преимущественно кожные покровы человека (особенно на стопах), ногтевые пластины и слизистые оболочки, например, в ротовой полости или во влагалище. Более серьезные, системные грибковые патологии, когда рост возбудителей наблюдается во внутренних органах человека, встречаются намного реже. При этом они всегда представляют собой существенную проблему для здоровья, которая иногда даже угрожает жизни пациента.