section.b-tile-middle
  #b-tile-middle.anchor
  .container
    .b-tile-middle__container.text
      .b-tile-middle__inner.b-title-border
        .b-tile-middle__title.b-title
          h2 Плитка средняя
        .b-tile-middle__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-tile-middle__items
        a.b-tile-middle__item(href="#")
          .b-tile-middle__img
            picture 
              img(src="/i/b-tile-woman.jpg" loading="lazy" width="160" height="160" alt="Лицо женщины")
          .b-tile-middle__text
            span «Бесплатная консультация пластического хирурга»
        a.b-tile-middle__item(href="#") 
          .b-tile-middle__img
            picture 
              img(src="/i/b-tile-press.jpg" loading="lazy" width="160" height="160" alt="Пресс живота")
          .b-tile-middle__text
            span «Специальная цена на прессотерапию»
            