section.b-tile-large
  #b-tile-large.anchor
  .container
    .b-tile-large__container.text
      .b-tile-large__inner.b-title-border
        .b-tile-large__title.b-title
          h2 Плитка крупная
        .b-tile-large__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-tile-large__items
        a.b-tile-large__item(href="#")
          .b-tile-large__img
            picture 
              img(src="/i/b-tile-woman.jpg" loading="lazy")
          .b-tile-large__text
            span «Бесплатная консультация пластического хирурга»
            p Хотите узнать, как быстро и заметно помолодеть, избавиться от изъянов и улучшить фигуру? С 01 по 31 мая 2021 года приходите на бесплатную консультацию к нашим пластическим хирургам!
        a.b-tile-large__item(href="#")
          .b-tile-large__img
            picture 
              img(src="/i/b-tile-press.jpg" loading="lazy")
          .b-tile-large__text
            span «Специальная цена на прессотерапию»
            p Только с 01 по 31 мая 2021 года в «СМ-Косметология» на курс процедур по прессотерапии действует специальная цена: 5 сеансов — 3000 рублей.