section.b-videos
  #b-videos.anchor
  .container
    .b-videos__container.text
      .b-videos__inner.b-title-border
          .b-videos__title.b-title
            h2 Видео (несколько видео)
          .b-videos__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      .b-videos__swiper
        .b-videos__wrapper.swiper-wrapper
          a(data-fslightbox="b-videos" href="/i/b-video.jpg").b-videos__item.swiper-slide
            .b-videos__insert
              .b-videos__play
              picture
                img(src="/i/b-video.jpg" loading="lazy" width="555" height="253")
            .b-videos__text
              p Ультраформер — единственный неинвазивный метод, который позволяет воздействовать не только на поверхностные и глубокие слои кожи, но также на мышечно-апоневротический слой (SMAS) без повреждения верхних слоев дермы.
          a(data-fslightbox="b-videos" href="/i/b-video.jpg").b-videos__item.swiper-slide
            .b-videos__insert
              .b-videos__play
              picture
                img(src="/i/b-video.jpg" loading="lazy" width="555" height="253")
            .b-videos__text
              p Ультраформер — единственный неинвазивный метод, который позволяет воздействовать не только на поверхностные и глубокие слои кожи, но также на мышечно-апоневротический слой (SMAS) без повреждения верхних слоев дермы.
          a(data-fslightbox="b-videos" href="/i/b-video.jpg").b-videos__item.swiper-slide
            .b-videos__insert
              .b-videos__play
              picture
                img(src="/i/b-video.jpg" loading="lazy" width="555" height="253")
            .b-videos__text
              p Ультраформер — единственный неинвазивный метод, который позволяет воздействовать не только на поверхностные и глубокие слои кожи, но также на мышечно-апоневротический слой (SMAS) без повреждения верхних слоев дермы.
        .b-videos__arrows
          button.b-videos__button-prev.b-arrows-button.b-arrows-button--prev(type="button")
          button.b-videos__button-next.b-arrows-button.b-arrows-button--next(type="button")