section.b-video
  #b-video.anchor
  .container
    .b-video__container.text
      .b-video__inner.b-title-border
          .b-video__title.b-title
            h2 Видео-вставка
          .b-video__subtitle.b-subtitle Включаемый или отклюаемый подзаголовок к каждому блоку
      a(data-fslightbox="b-video" href="/i/b-video.jpg").b-video__insert
        .b-video__play
        picture 
          img(src="/i/b-video.jpg" loading="lazy")
      .b-video__text
        p Ультраформер — единственный неинвазивный метод, который позволяет воздействовать не только на поверхностные и глубокие слои кожи, но также на мышечно-апоневротический слой (SMAS) без повреждения верхних слоев дермы.