extends /_template/tpl/main
block head
	title Главная
	link(rel="stylesheet" href="/css/template.css")
	link(rel="stylesheet" href="styles.css")

	script(src="/src/js/libs/jquery.min.js" type="text/javascript")
	script(src="/src/js/dev.js" type="text/javascript")
	script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js")

block content
