
$font-size_h2: 38px;
$font-size_h2m: 24px;

$ligth-brown: #B77F41;
$dark-brown: #4F2D0C;
$gray-brown: #7F6C62;
$gray-brown2:#303030;


$background-light-1: #F4EDE8;
$background-light-2: #F9F6F4;
$background-light-3: #EDE2D4;

$clr1: #0047BB;
$clr2: #A03339;

$br: 12px;
$br1: 20px; 
$br2: 12px;
$br3: 8px;
$br4: 15px;
$br5: 20px;

$shadow1: 0px 2px 4px rgba(22, 84, 69, 0.15);
$shadow2: 0px 10px 20px rgba(76, 92, 82, 0.25);


$breakpoint1: 1400px;
$breakpoint2: 1200px;
$breakpoint3: 992px;
$breakpoint4: 768px;
$breakpoint5: 576px;
$breakpoint6: 320px;
$max-width: 1430px;

