meta(charset="utf-8")
meta(name="description" content="")
meta(name="keywords" content="")
meta(name="viewport" content="width=device-width")
meta(name="format-detection" content="telephone=no")
//-link(href='/css/general.css' rel='stylesheet' type='text/css')

//-<link rel="preconnect" href="https://fonts.gstatic.com">
//-<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
//-meta(name="viewport" content="width=640")
//-meta(name="MobileOptimized" content="640")
//-link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css')
//-link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css')
//-link(href='https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic-ext' rel='stylesheet' type='text/css')
//-link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&amp;subset=cyrillic" rel="stylesheet")
//-<link href="https://fonts.googleapis.com/css?family=Roboto:400,700&amp;subset=cyrillic" rel="stylesheet">
//-<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
//-<script src="/src/js/dev.js"></script>
//-<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap" rel="stylesheet">
//-<script src="libs/slick.min.js"></script>
//-<script src="libs/tiny-slider.js"></script>
//-<script src="js/slider.js"></script>
//-<script src="js/price-spoiler.js"></script>
//-<script src="js/services-spoiler.js"></script>
//-<script src="js/scripts.js"></script>
//-<script src="lib/typed.min.js"></script>
//-link(rel="stylesheet" href="css/styles.css")

