@font-face {
	font-family:'El Messiri';
	font-display: fallback;
	src: url('/src/fonts/elmessiri-regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
	font-display: fallback;
  src: url("/src/fonts/opensans.woff") format("woff");
  src: url("/src/fonts/opensans.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
	font-display: fallback;
  src: url("/src/fonts/opensansbold.woff") format("woff");
  src: url("/src/fonts/opensansbold.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans', "Arial", sans-serif;
  font-style: normal;
  font-weight: lighter;
	font-display: fallback;
  src: url("/src/fonts/opensanslight.woff") format("woff");
  src: url("/src/fonts/opensanslight.woff2") format("woff2");
}