@import "_variables.scss";

.header{
	position: fixed;
	top:0;
	left:0;
	right:0;
	z-index: 51;
	background: #fff;
	box-sizing:border-box;
	*{box-sizing:border-box;}

	&:after{
		display: none;
		position: absolute;
		top:100%;
		left:0;
		right:0;
		height:5px;
		background-image: linear-gradient(to top, rgba(183,127,65,0), rgba(183,127,65,0.15));
		content:'';
	}

	&__top{
		height: 60px;
		display: flex;
		justify-content:space-between;
	}
	&__left{
		display: flex;
		align-items:center;
	}
	&__right{
		display: flex;
		align-items:center;
	}
	&__bot{
		background: #F4EDE8;
		//margin:0 0 50px;
	}
	&__box{
		display: flex;
		justify-content:space-between;
		align-items:center;
	}
	&__search{
		width:280px;
	}
	&__logo{
		margin-right:60px;
		padding:0;
	}
	&__phone{
		*{
			font-size:20px;
			font-weight: bold;
			display: inline;
			color:#B77F41;
			text-decoration: none;
			white-space: nowrap;
		}
		strong{
			font-size:inherit!important;
			color:inherit!important;
		}
	}
	&__button{
		display: block;
		cursor: pointer;
		text-decoration: none;
		font-size:12px;
		font-weight: bold;
		color:#000000;
		text-transform: uppercase;
		text-align: center;
		line-height: 40px;
		height: 40px;
		padding:0 20px;
		flex-shrink:0;

		&_brown{
			background: #F4EDE8;
			color:#B77F41;
		}
	}
	&__buttons{
		display: flex;
	}
	&__feed-toggle{
		display: none;
		text-decoration: none;
		font-size:12px;
		font-weight: bold;
		background: #F4EDE8;
		color:#B77F41;
		text-transform: uppercase;
		text-align: center;
		line-height: 40px;
		height: 40px;
		padding:0 20px;
		flex-shrink:0;
	}
	&__feed{
		position: relative;
		width:200px;
	}
	
	@media all and (max-width:$breakpoint3){
		&:after{
			display: block;
		}
		&__menu{
			display: none;
		}
		&__button{
			padding:0 10px;
		}
		&__buttons{
			flex-direction:column;
		}
		&__logo{
			position: absolute;
			top:5px;
			left:15px;

			img{
				display: block;
				width:120px;
				height:auto;
			}
		}
		&__feed-toggle{
			display: block;
		}
		&__feed-content{
			position: absolute;
			top:100%;
			left:0;
			width:100%;
			height: 0;
			overflow: hidden;
			background: #fff;
			transition:0.2s;
		}
		&__left{
			padding:0 0 0 130px;
		}
		&__search{
			width:240px;
		}
		&__phone{
			padding-left:10px;
			*{
				font-size:16px;
			}
		}
		&__right{
			padding:0px 50px 0 0;
		}
	}
	@media all and (max-width:$breakpoint4){
		&__search{
			display: none;
		}
		&__left{
			width:0;
			padding:0;
		}
		&__right{
			align-items:flex-start;
			padding:10px 44px 0 0;
		}
		&__feed{
			position: absolute;
			bottom:6px;
			right:60px;
		}
		&__feed-toggle{
			background: none;
			line-height: normal;
			height: auto;
			text-align: right;
			padding:0 15px 0 0;
		}
	}
	@media all and (max-width:$breakpoint5){
		&__phone{
			*{
				font-size:14px;
			}
		}
		&__feed-toggle{
			font-size: 11px;
			bottom:10px;
		}
		&__right{
			padding:12px 44px 0 0;
		}
	}
}

.main-menu{

	a,
	a:visited{
		display: flex;
		height: 90px;
		color:#000;
		transition:0.2s;
		font-family: 'El Messiri', 'Roboto', sans-serif;
		padding:0 10px;
		min-width: 80px;
		max-width: 160px;
		text-align: center;
		text-decoration: none;
		align-items:center;
		text-transform: uppercase;
		justify-content:center;

		&:hover{
			background:#B77F41;
			color:#fff;
		}
	}
	&__box{
		display: flex;
		align-items:center;
	}
	@media all and (max-width:1100px){
		a{
			font-size:14px;
		}
	}
}

.m-search{
	margin:0 40px 0 0;

	&_no-margin{
		margin:0;
	}

	&__row{
		position: relative;
	}
	input{
		display: block;
		width: 100%;
		font-size:13px;
		line-height: 38px;
		padding:0 40px 0 20px;
		background: #FFFFFF;
		border: 1px solid rgba(206, 169, 127, 0.5);
		color:#B77F41;
	}
	button{
		position: absolute;
		top:0;
		bottom:0;
		right:0;
		width:30px;
		border:0;
		background: none;
		z-index: 5;
	}
	i{
		display: block;
		width: 19px;
		height: 18px;
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxOSIgaGVpZ2h0PSIxOCIgZmlsbD0ibm9uZSIgdmlld0JveD0iMCAwIDE5IDE4Ij48cGF0aCBmaWxsPSIjQjc3RjQxIiBkPSJNMTguODQxIDE2LjgzbC01LjI1Mi01LjIzYTcuMDY5IDcuMDY5IDAgMDAxLjU5Ni00LjQ3NUMxNS4xODUgMy4xOTYgMTEuOTc1IDAgOC4wMjggMCA0LjA4MiAwIC44NzIgMy4xOTYuODcyIDcuMTI1czMuMjEgNy4xMjUgNy4xNTYgNy4xMjVhNy4xNCA3LjE0IDAgMDA0LjQ5Ni0xLjU4OWw1LjI1MiA1LjIzYS4zNzguMzc4IDAgMDAuNTMyIDBsLjUzMy0uNTMxYS4zNzQuMzc0IDAgMDAwLS41M3pNOC4wMjggMTIuNzVjLTMuMTE1IDAtNS42NS0yLjUyMy01LjY1LTUuNjI1UzQuOTE0IDEuNSA4LjAyOSAxLjVjMy4xMTYgMCA1LjY1IDIuNTIzIDUuNjUgNS42MjVzLTIuNTM0IDUuNjI1LTUuNjUgNS42MjV6Ii8+PC9zdmc+") 50% 50% no-repeat;
	}

	@media all and (max-width:$breakpoint3){

		margin:0 20px 0 0;
		&_no-margin{
			margin:0;
		}

/* 		input{
			display: none;
			border:0;
			padding:0 32px 0 8px;
		}
		button{
			//display: none;
			right: 32px;
			background: none;
			width:32px;
			height:32px;
			border-radius: 3px;
		}
		&__toggle{
			display: block;
		}
		&__row{
			padding:0 22px 0 0;
		} */
	}
	@media all and (max-width:$breakpoint5){
		&__phone{
			*{
				font-size:16px!important;
			}
		}
	}
}