.breadcrumbs
	.container
		.breadcrumbs__wrap
			ul.breadcrumbs__list
				//-li.breadcrumbs__home
					a.breadcrumbs__link-home(href="#" title="") Главная
				li.breadcrumbs__home
					a.breadcrumbs__link.breadcrumbs__link_home(href="#" title="") Главная
				li.breadcrumbs__item
					a.breadcrumbs__link(href="#" title="") Название раздела
				li.breadcrumbs__item
					span.breadcrumbs__current Название активной страницы