
.footer
	footer
		img.footer__flower(src="i/footer-flower.png")
		.footer__top
			.container
				.footer__cols
					.footer__col
						.footer__title СМ-Косметология
						.footer__menu
							ul
								li
									a(href="#") О нас
								li
									a(href="#") Специалисты
								li
									a(href="#") Услуги
								li
									a(href="#") Прайс-лист
								li
									a(href="#") Специальные предложение
								li
									a(href="#") Вопросы и решения
								li
									a(href="#") Контакты

					.footer__col
						.footer__title Популярное
						.footer__menu
							ul
								li
									a(href="#") Контурная пластика
								li
									a(href="#") Нитевой лифтинг

					.footer__col
						.footer__title Наши клиники
						.footer__menu
							ul
								li
									a(href="#") СМ-Клиника
								li
									a(href="#") Детские клиники
								li
									a(href="#") Центр Хирургии
								li
									a(href="#") Пластическая хирургия
								li
									a(href="#") Стоматология
								li
									a(href="#") Онкологический центр
								li
									a(href="#") Скорая помощь
								li
									a(href="#") Центр ЭКО

					.footer__col
						.footer__title Контакты
						.footer__text.
							Москва, САО, м. Войковская,<br>
							ул. Космонавта Волкова, д. 9/2<br>
							<span>(пн-сб 09:00–22:00, вс 10:00–21:00)</span>
						.footer__phone.
							<div class="call_phone_m1 phone_footer"><a href="tel:+74951535351">+7 (495)<strong>153-53-51</strong></a></div>
						.footer__text.
							Мы находимся в САО рядом с метро:<br>
							Войковская, Петровско-Разумовская,<br>
							Сокол, Водный стадион<br>
							<a href="#">Карта сайта</a>


				.footer__row
					a.footer__logo(href="#")
						img(src="/i/footer-logo.svg")
					a.footer__feed(href="#") Записаться на приём

				.footer__copyright
					.footer__cell &copy; 2020 «СМ-Косметология» — косметология и эстетическая хирургия в Москве
					.footer__cell Политика в отношении обработки персональных данных<br><br>ООО «СМ-Косметология» Лицензия № ЛО-77-01-018130 от 28 мая 2019 г.

					.footer__social
						.social-footer
							.social-footer__item
								a.social-footer__link.social-footer__link_inst(href="https://www.instagram.com/smclinic/" target="_blank" rel="nofollow")
							.social-footer__item
								a.social-footer__link.social-footer__link_fb(href="https://www.facebook.com/smclinic" target="_blank" rel="nofollow")
							.social-footer__item
								a.social-footer__link.social-footer__link_vk(href="https://vk.com/smclinica" target="_blank" rel="nofollow")
							.social-footer__item
								a.social-footer__link.social-footer__link_ok(href="https://ok.ru/smclinica" target="_blank" rel="nofollow")

		.footer__bot
			.container
				noindex
					.footer__warning
						div Имеются противопоказания. Необходимо проконсультироваться со специалистом

