#header.header
	.menu-toggle.js-panel-toggle
		.menu-toggle__lines
		span
	header
		.container
			.header__top
				.header__left
					.header__search
						.m-search
							.m-search__box
								.m-search__row
									form(method="GET" action="")
										input(name="q" type="text" placeholder="Поиск по сайту")
										button(type="submit")
											i
										.m-search__toggle

					.header__feed
						.header__feed-toggle Связаться с нами
						.header__feed-content
							.header__buttons
								a.header__button.header__button_brown(href="#") Заказать обратный звонок
								a.header__button(href="#") Записаться на прием
								a.header__button(href="#") Задать вопрос

				.header__right
					.header__phone.
						<span class="ct_phone_1 call_phone_m1 phone"><a href="tel:+74953088090">+7 (495)<strong>308-80-90</strong></a></span>

		.header__bot
			.container
				.header__box
					a.header__logo(href="#")
						img(src="/i/logo.svg")
					.header__menu

						nav.main-menu
							.main-menu__box
								a(href="#") Услуги
								a(href="#") Процедуры
								a(href="#") Специалисты
								a(href="#") Цены
								a(href="#") Специальные предложения
								a(href="#") Отзывы
								a(href="#") О нас
								a(href="#") Контакты

	//.alarm-message
		.container
			.alarm-message__text <div>Уважаемые пациенты! В связи с техническими неполадками в настоящее время могут быть сложности по обработке заявок с сайта.<br> Для записи к врачу, пожалуйста, звоните по телефону.</div>
